{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow mb-5"> <!-- Added card structure -->
        <h1 class="text-center mb-4">{% trans "Sign In" %}</h3>

        <p class="text-center mb-4">{% blocktrans %}Welcome back to The Notice Board. To leave a comment, like a post or view profiles, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{{ login_url }}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-danger btn-block mt-3" type="submit">{% trans "Sign In" %}</button> <!-- Adjusted button class -->
        </form>
    </div>
</div>
{% endblock %}
