{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post metadata (author and date) -->
                 <div class="post-meta">
                    <p class="post-subtitle">
                        <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a> | {{ post.created_on }}</p>
                 </div>

            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/unionjack.jpg' %}" class="scale" alt="Union Jack flag">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Display post content with the safe filter -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>

    <!-- Voting section -->
    <div class="row">
        <div class="col-12 text-center mb-4">
            <div class="voting-section">
                <a href="{% url 'vote' post.id 1 %}" class="btn btn-vote" aria-label="Upvote"><i class="fas fa-thumbs-up"></i> Upvote</a>
                <a href="{% url 'vote' post.id -1 %}" class="btn btn-vote" aria-label="Downvote"><i class="fas fa-thumbs-down"></i> Downvote</a>
            </div>
            <p>Upvotes: {{ post.upvote_count }}  Downvotes: {{ post.downvote_count }}</p>
        </div>
    </div>

    <!-- Displaying comment count -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments" aria-label="Number of comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying comments -->
     <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3 class="card-title">Comments</h3>
            <div class="card-body">
                {% for comment in comments %}
                    <article class="mb-3
                        {% if not comment.approved %}
                            {% if comment.author == user %} text-muted{% else %} d-none{% endif %}
                        {% endif %}
                    ">
                        <p class="font-weight-bold">
                            <a href="{% url 'profile' comment.author.username %}">{{ comment.author }}</a>
                            <span class="font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote: 
                        </p>
                        <div id="comment{{ comment.id }}">
                            {{ comment.body | linebreaks }}
                        </div>

                    {% if not comment.approved and comment.author == user %}
                        <p class="approval text-warning">
                            This comment is awaiting approval.
                        </p>
                    {% endif %}
                    </article>
                {% endfor %}
            </div>
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ comment_form | crispy }}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg" aria-label="Submit your comment">
                            Submit
                        </button>
                    </form>
                    {% else %}
                    <p class="text-muted">Please <a href="{{ login_url }}">log in</a> to leave a comment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}