{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post metadata (author and date) -->
                 <div class="post-meta">
                    <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                 </div>

            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/unionjack.jpg' %}" class="scale" alt="Union Jack flag">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Display post content with the safe filter -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}