<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Notice Board</title>
    <meta name="description" content="View the latest posts on the Notice Board, the UK's Premier blog site.">
    <meta name="keywords" content="blog, UK blog, The Notice Board, posts, articles, history, sport, music, arts">
</head>

<body>
    <header>
        <h1>The Notice Board</h1>
        <p>Welcome to the UK's Premier blog site.</p>
    </header>
    
    <main>
        <section>
            {% for post in object_list %}
            <article>
                <h2>{{post.title}}</h2>
                <p>{{post.excerpt}}</p>
                <footer>
                    <p>Author: {{post.author}} | Published on: {{ post.created_on }}</p>
                </footer>
            </article>
            <hr>
            {% endfor %}
        </section>
    </main>

</body>

</html>